html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  margin: 0;
}

div {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d05c2e;
  width: 100%;
  clear: right;
}

.image-left {
  float: left;
  width: 40px;
  margin: 1rem;
}

.image-right {
  float: right;
  width: 40px;
  margin: 1rem;
}

h1 {
  color: #fff;
  margin: 0;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 900;
}

ul {
  margin: 0;
  padding: 0;
  background-color: #d05c2e;
  overflow: hidden;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.125rem;
  float: left;
  margin: 0;
  padding: 1rem;
  border: solid 1px #a63f38;
  width: 33.3%;
}

a:hover {
  background-color: #a63f38;
  padding: 1rem;
  margin: 0;
}
